*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
:root {
  --primaryPurple: #646ff0;
  --black-1: #646681;
  --black-2: #585858;
  --bg-1: #f8f8ff;
  --bg-2: #ecedf6;
  --bg-3: #cccdde;
  --gray-1: #eee;
  --gray-2: #dedfe1;
  --black: black;
  --white: white;
}
html {
  font-size: 16px;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-1);
}

.container {
  width: min(90vw, 1200px);
  margin: 5rem auto 0;
}

h1 {
  text-align: center;
  color: var(--black-1);
  margin-bottom: 2rem;
}
